
.App {
  text-align: center;
}

.app__header {
    padding: 0.67em;
    margin-bottom: 10px;
    background-color: rgb(38, 88, 250);
    box-shadow: 0 3px 3px rgb(21, 44, 248);
    color: white;
}

.user__name {
  padding:10px;
  margin: 10px;
  font-size: 1.1em;
  text-transform: capitalize;
  font-weight: lighter;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgba(44, 161, 228, 0.383);
  width: 100%;
  margin: 20px;
}

.message__display {
  position: absolute !important;
  width: 100%;
  overflow-y: scroll;
  max-height: 60% !important;
}
#messages_dsp::-webkit-scrollbar {
  background: transparent;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1 !important;
}
.app__iconButton {
  flex: 0 !important;
}

