.message{
    padding: 5px;
    margin: 8px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    text-align: left !important;
}

.message__userCard {
    background-color: rgba(241, 111, 35, 0.76) !important;
}

.message__guessCard {
    background-color: rgba(223, 243, 46, 0.733)!important;
}