.message{
    padding: 8px;
    margin: 12px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: turquoise !important;
}

.message__guessCard {
    background-color: rgb(198, 199, 199) !important;
}